@inject RecipeService RecipeService
@inject CategoryService CategoryService
@inject ImageService ImageService

<EditForm Model="@recipe" OnSubmit="@SubmitAsync">
    <h1>@operation Recipe</h1>
    <button type="submit" class="d-none" disabled></button>
    <button type="submit" class="btn btn-primary my-3">Save</button>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ul class="nav nav-tabs">
        <li class="nav-item cursor-pointer" @onclick="(() => ToggleTab(0))">
            <a class="@styles[0]">General</a>
        </li>
        <li class="nav-item cursor-pointer" @onclick="(() => ToggleTab(1))">
            <a class="@styles[1]">Ingredients</a>
        </li>
        <li class="nav-item cursor-pointer" @onclick="(() => ToggleTab(2))">
            <a class="@styles[2]">Directions</a>
        </li>
        <li class="nav-item cursor-pointer" @onclick="(() => ToggleTab(3))">
            <a class="@styles[3]">Permissions</a>
        </li>
    </ul>
    <div class="tab-content">
        <br />
        @if (tab == 0)
        {
            <div class="form-group">
                <label>Name</label>
                <InputText @bind-Value="recipe.Name" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label>Prep Time</label>
                <InputText @bind-Value="recipe.PrepTime" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label>Cook Time</label>
                <InputText @bind-Value="recipe.CookTime" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label>Servings</label>
                <InputText @bind-Value="recipe.Servings" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label>Link to YouTube Video</label>
                <InputText @bind-Value="recipe.Video" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label for="file-upload" class="custom-file-upload btn">
                    <i class="oi oi-image"></i> Upload Images
                </label>
                <input accept="image/*" class="d-none" id="file-upload" multiple type="file" @onchange="AddImagesAsync" @ref=reference />
            </div>
            <div class="form-group">
                <label>Categories</label>
                <div>
                    @foreach (RecipeCategory recipeCategory in recipe.RecipeCategories)
                    {
                        <span class="badge badge-pill badge-dark">@recipeCategory.Category.Name</span>
                        <a @onclick="(() => RemoveCategoryAsync(recipeCategory))" class="cursor-pointer">🗙</a>
                    }
                </div>
                <input @bind-value="search" @bind-value:event="oninput" @onkeyup="EnterCategoryAsync" type="search" class="form-control my-1" placeholder="Press enter to add a category" />
                <label>Click on a category below to add</label>
                <div>
                    @foreach (Category category in categories)
                    {
                        <a @onclick="(() => AddCategoryAsync(category))" class="badge badge-pill badge-dark text-white cursor-pointer">@category.Name</a>
                    }
                </div>
            </div>
        }
        else if (tab == 1)
        {
            if (recipe.Ingredients.Count() > 0)
            {
                <table class="table table-borderless">
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                    @for (int i = 0; i < recipe.Ingredients.Count(); i++)
                    {
                        Ingredient ingredient = recipe.Ingredients[i];
                        <tr>
                            <td>
                                <InputText @bind-Value="ingredient.Name" class="form-control"></InputText>
                            </td>
                            <td>
                                <InputText @bind-Value="ingredient.Quantity" class="form-control"></InputText>
                            </td>
                            <td>
                                <button @onclick="(() => recipe.Ingredients.Remove(ingredient))" type="button" class="btn btn-secondary">
                                    <span class="oi oi-trash"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            }
            <div class="form-group">
                <button @onclick="(() => recipe.Ingredients.Add(new Ingredient()))" type="button" class="btn btn-secondary">
                    <span class="oi oi-plus"></span> New Ingredient
                </button>
            </div>
        }
        else if (tab == 2)
        {
            if (recipe.Directions.Count() > 0)
            {
                <table class="table table-borderless">
                    <tr>
                        <th>Step</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    @for (int i = 0; i < recipe.Directions.Count(); i++)
                    {
                        Direction direction = recipe.Directions[i];
                        <tr>
                            <td>
                                <InputSelectNumber @bind-Value="direction.Step" class="form-control">
                                    @foreach (int step in steps.OrderBy(s => s))
                                                {
                                        <option value="@step">@step</option>
                                                }
                                </InputSelectNumber>
                            </td>
                            <td>
                                <InputTextArea @bind-Value="direction.Description" class="form-control"></InputTextArea>
                            </td>
                            <td>
                                <button @onclick="(() => RemoveDirection(direction))" type="button" class="btn btn-secondary">
                                    <span class="oi oi-trash"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            }
            <div class="form-group">
                <button @onclick="(() => AddDirection())" type="button" class="btn btn-secondary">
                    <span class="oi oi-plus"></span> New Direction
                </button>
            </div>
        }
        else if (tab == 3)
        {
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <InputCheckbox @bind-Value="recipe.Restricted" class="custom-control-input" id="restricted"></InputCheckbox>
                    <label class="custom-control-label" for="restricted">Make this recipe private</label>
                </div>
            </div>
            if (recipe.Restricted)
            {
                if (recipe.Readers.Count() > 0)
                {
                    <table class="table table-borderless">
                        <tr>
                            <th>Email Address</th>
                            <th>Edit Access</th>
                            <th></th>
                        </tr>
                        @for (int i = 0; i < recipe.Readers.Count(); i++)
                        {
                            Reader reader = recipe.Readers[i];
                            <tr>
                                <td>
                                    <InputText @bind-Value="reader.Email" class="form-control"></InputText>
                                </td>
                                <td>
                                    <InputCheckbox @bind-Value="reader.Editor"></InputCheckbox>
                                </td>
                                <td>
                                    <button @onclick="(() => recipe.Readers.Remove(reader))" type="button" class="btn btn-secondary">
                                        <span class="oi oi-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                }
                <div class="form-group">
                    <button @onclick="(() => recipe.Readers.Add(new Reader()))" type="button" class="btn btn-secondary">
                        <span class="oi oi-plus"></span> Grant access to a friend
                    </button>
                </div>
            }
        }
    </div>
</EditForm>

@code {
    [Parameter]
    public Recipe recipe { get; set; }

    [Parameter]
    public string operation { get; set; }

    private List<Category> categories = new List<Category>();

    private Stack<int> steps = new Stack<int>();

    private string search = string.Empty;

    private ElementReference reference;

    private Timer timer = new Timer
    {
        Interval = 250,
        AutoReset = false
    };

    private int tab = 0;

    private string[] styles = { "nav-link active", "nav-link", "nav-link", "nav-link" };

    protected override async Task OnInitializedAsync()
    {
        timer.Elapsed += Elapsed;
        await FetchCategoriesAsync();
        if (operation == "Update")
        {
            for (int i = 1; i <= recipe.Directions.Count(); i++)
            {
                steps.Push(i);
            }
        }
    }

    /// <summary>
    /// Handles submission
    /// </summary>
    public async Task SubmitAsync(EditContext editContext)
    {
        int pops = recipe.Directions.Count();
        if (editContext.Validate())
        {
            int id = recipe.Id;
            switch (operation)
            {
                case "Create":
                    await RecipeService.CreateAsync(recipe);
                    NavigationManager.NavigateTo("Recipes");
                    break;
                case "Update":
                    await RecipeService.UpdateAsync(recipe);
                    NavigationManager.NavigateTo($"/Recipes/Read/{id}");
                    break;
            }
        }
        else
        {
            pops -= recipe.Directions.Count();
            for (int i = 0; i < pops; i++)
            {
                steps.Pop();
            }
        }
    }

    /// <summary>
    /// Adds uploaded images to recipe
    /// </summary>
    public async Task AddImagesAsync()
    {
        var files = await fileReaderService.CreateReference(reference).EnumerateFilesAsync();
        List<Image> images = await ImageService.GetByteArraysAsync(files);
        recipe.Images.AddRange(images);
    }

    /// <summary>
    /// Verifies category on enter key
    /// </summary>
    public async Task EnterCategoryAsync(KeyboardEventArgs args)
    {
        timer.Stop();
        if (args.Key == "Enter")
        {
            string upper = search.ToUpper();
            if (!string.IsNullOrWhiteSpace(upper) && !recipe.RecipeCategories.Any(rc => rc.Category.Name.Equals(upper)))
            {
                Category category = await CategoryService.GetAsync(upper);
                if (category == null) category = new Category { Name = upper };
                await AddCategoryAsync(category);
            }
            search = string.Empty;
        }
        timer.Start();
    }

    /// <summary>
    /// Adds category to recipe
    /// </summary>
    public async Task AddCategoryAsync(Category category)
    {
        RecipeCategory recipeCategory = new RecipeCategory { Category = category };
        recipe.RecipeCategories.Add(recipeCategory);
        await FetchCategoriesAsync();
    }

    /// <summary>
    /// Removes category from recipe
    /// </summary>
    public async Task RemoveCategoryAsync(RecipeCategory recipeCategory)
    {
        recipe.RecipeCategories.Remove(recipeCategory);
        await FetchCategoriesAsync();
    }

    /// <summary>
    /// Adds direction to recipe
    /// </summary>
    public void AddDirection()
    {
        int count = recipe.Directions.Count() + 1;
        Direction direction = new Direction { Step = count };
        recipe.Directions.Add(direction);
        steps.Push(count);
    }

    /// <summary>
    /// Removes direction from recipe
    /// </summary>
    public void RemoveDirection(Direction direction)
    {
        recipe.Directions.Remove(direction);
        steps.Pop();
    }

    /// <summary>
    /// Changes active nav-link
    /// </summary>
    public void ToggleTab(int number)
    {
        for (int i = 0; i < styles.Count(); i++)
        {
            styles[i] = "nav-link";
        }
        tab = number;
        styles[number] = string.Concat(styles[number], " active");
    }

    /// <summary>
    /// Fetches available categories
    /// </summary>
    public async Task FetchCategoriesAsync()
    {
        categories = await CategoryService.FetchAsync(recipe.RecipeCategories, search);
        StateHasChanged();
    }

    /// <summary>
    /// Invokes method after timer elapses
    /// </summary>
    public void Elapsed(object source, ElapsedEventArgs args)
    {
        InvokeAsync(async () => await FetchCategoriesAsync());
    }
}